/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: var(--primary-color-1);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--accent-color-1);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    color: var(--primary-color-1);
}

.nav-link {
    color: var(--primary-color-1);
    font-style: normal;
    text-decoration: none;
}

.page-container {
    position: relative;
    top: 20px;
    left: 0px;
    padding: 5px;
}

#textarea-label {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--accent-color-1);
    font-weight: 700;
}

textarea {
    resize: none;
    outline: none;
    border-color: var(--accent-color-1);
    border-radius: 5px;
    border-width: 2px;
    font-family: sans-serif;
}

button {
  background-color: var(--accent-color-1);
  border-radius: 10px;
  border: none;
  appearance: none;
  color: white;
  font-size: 16px;
  transition: all ease-in 0.1s;
  cursor: pointer;
}

#continue {
    margin-left: 20px;
    position: relative;
    bottom: 5px;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

p.word-token {
  display: inline;
}

a.word-token {
  display: inline;
}

a.word-token.chosen {
  color: var(--word-selected);
}
 
a.word-token:hover {
  display: inline;
  color: var(--word-selected);
  cursor: pointer;
}

div.select-word {
    background-color: var(--primary-color-2);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    color: black;
    font-size: 14px;
    width: 320px;
}

div.button-section {
    margin-top: 10px;
}

div.select-word button {
    margin-right: 10px;
}

.entry-buttom-bar {
    position: absolute;
    top: 280px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .ref-input {
    }

    #reset {
        right: 0px;
    }
}

.ref-input-label {
    span {
        color: var(--accent-color-1);
        font-weight: bold;
        margin-right: 5px;
    }
    input {
        width: 100px;
        outline: none;
        border-color: var(--accent-color-1);
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
    }
}

.top-carousel {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 46px;
    text-align: center;
    background-color:var(--primary-color-2);
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;

    .top-carousel-container {
        width: 320px;
        overflow: hidden;
        margin-left: 10px;

        .carousel-change {
            display: flex;
            flex-direction: row;
            transition: transform 0.5s;
        }
    }
    
    .control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
        button {
            align-items: center;
            width: 35px;
            height: 35px;
            background-color: var(--accent-color-1);
            border-width: 0;
        }
    }
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.top-carousel-element {
    text-align: start;
    margin-bottom: 0px;
    height: 150px;
    position: relative;
    .word {
        margin-top: 15px;
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
    }

    .word-info {
        color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        position: absolute;
        bottom: 5px;
    }
}


.word-example {
    text-align: start;
    p {
        display: inline;
        font-size: 14px;
    }
}

.word-options {
    position: fixed;
    top: 58px;
    right: 24px;
    button {
        padding-right: 16px;
        background-color: var(--primary-color-2);
        color: var(--accent-color-1);
    }
}

.pop-out {
    background-color: var(--accent-color-1);
    width: 128px;
    height: 32px;
    position: fixed;
    top: 84px;
    right: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--accent-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

:root {
    --primary-color-1: rgb(211, 242, 255);
    --primary-color-2: rgb(159, 226, 255);
    --accent-color-1: rgb(0, 123, 175);
    --word-selected: rgb(165, 8, 197);
    --transparent: rgba(0, 0, 0, 0);
}