<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Quick VOC</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="https://kit.fontawesome.com/f6165a571e.js" crossorigin="anonymous"></script>
</html>

